{% extends "base.html" %}
{% load static %}
{% block content %}

<p><img src="{% static 'images/figure-skating.png' %}" align="right" width="200" height="550" />

<h1 font-size=64px><font color="white" face="Times New Roman">Короли и Королевы Квадов</font></h1>

<h2 font-size=32px><font color="white" face="Times New Roman">Сильнейшие фигуристы России, которым покорились ультра-си элементы</font></h2>

<p><font size=5 color=#4F4C4C face="Times New Roman" >Доминирование России в фигурном катании является незыблемым и неопровержимым фактом. Ни одна страна не может приблизиться к спортсменам из нашей страны ни на каких чемпионатах и турнирах. Российские фигуристы — лучшие, и они повлияли на мир фигурного катания своим характерным стилем и выступлениями. Слияние технических возможностей с художественными новшествами в их программах ошеломляет публику, судей и гипнотизирует весь мир.</font></p>

{% endblock %}